#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}
#grid ol{
        padding-left: 40px;
}
#article{
    padding-left: 10px;
}
@media(max-width:800px) {
    #grid{ 
        display: block;
    }
}
body {
    margin: 0px;
}
a { color:black;
    text-decoration: none;
}
h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px goldenrod solid;
    margin: 0px;
    padding: 20px;
}
ol {
    border-right: 1px goldenrod solid;
    margin: 0px;
    width: 100px;
    padding: 30px;
}